

body {

    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,120,140,1) 0%, rgba(0,0,0,0.5215336134453781) 100%);
}

.superior {
    display: flex;
    justify-content: space-between;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.semilla p {
     color: antiquewhite;
     font-size: 20px;
}

.inferior {
    display: flex;
    justify-content: space-between;
}

 .mano {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
} 

.columna1,.columna2, .columna3, .columna4 {
     width: 100%;
     min-width: 66px;
     max-width: 200px;
     /* margin-right: 70px; */
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 10px;
} 

.espacio-carta img {
    width: 100%;
    height: 100%;
    object-fit: fill; /*Para que quepan las cartas en todo el contenedor*/
}

.contenedor {
    width: 70%;
    margin: 0 auto;
}

.espacio-carta {
    border: 5px solid seashell;
    width: 97px;
    height: 151px;
    margin: 10;
    overflow: hidden; /*evitar desborde de la carta en el contenedor*/
    position: static;
  }
 

  @media (min-width: 844px) {
    
    .mano .espacio-carta {
        width: calc(100% - 1px);
         /* width: calc(100% - 10px);  */
        
    }

    .columna1,.columna2, .columna3, .columna4 {
        display: grid;
    } 
  }

  @media (max-width: 844px) {
    .mano .espacio-carta {
        min-width: 70px; 
        max-width: calc(80% - 20px); 
        position: relative;
    }

     /* .mano .espacio-carta:hover {
        top: -50px;
     }  */

     .columna1 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; 
    }

    .columna2 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px;
    }
 
     .columna3 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; 
    }

    .columna4 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; 
    }

    .columna1,.columna2, .columna3, .columna4 {
        width: 85px;
        margin-right: 0;
        display: block;
        max-width: 160px;
    }  
  }

  /*dispositivos pequeños*/
  @media (max-width: 480px) {

    .contenedor {
       max-height: 100vh;
    }
    .superior, .inferior {
        justify-content: center;
        height: 15%;
        width: 70%;
    }
 
    .centro {
        justify-content: center;
        margin: 0 20px 0 70%; /*240px*/
        height: 20%;
        width: 40%;
    }

    .mano {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }


    .espacio-carta {
        width: calc(70% - 20px);
        height: 140px;
    }

    .mano .espacio-carta {
        margin: 10px auto; 
        position: relative;
        width: 100%; /* Ajusta el ancho deseado para dispositivos pequeños */
        /* max-width: 60px;  */
        height: auto; /* Altura automática para mantener la relación de aspecto */
        margin: 5px; 
    }

     

     .columna1 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; /* Ajusta este valor según tus preferencias */
    }
    
    .columna2 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; /* Ajusta este valor según tus preferencias */
    }
 
    .columna3 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; /* Ajusta este valor según tus preferencias */
    }

    .columna4 .espacio-carta:nth-child(2) {
        position: relative;
        top: -130px; /* Ajusta este valor según tus preferencias */
    }

    .columna1,.columna2, .columna3, .columna4 {
        margin-right: 0;
        display: block;
        max-width: 100%;
    }

  }


  .parrafo {
    margin: 0;
    height: 160px;
    width: 100%;
    background-color: aqua;
}


.superior .clase {
    position: relative;
    top: -130px;
}

.inferior .clase {
    position: relative;
    top: -130px;
}

.boton {
    padding: 10px;
    border-radius: 10%;
    background-color: aquamarine;
    position: relative;
    top: -90px;
}

@media (min-width: 844px) {
    .boton{
        top: -2px;
    }
}